/* You can add global styles to this file, and also import other style files */

body {
    background-color: #fff;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.progress-bar {
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}